<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% if data.error %}
    <div class="error">
      <h2 class="text-danger">{{ data.error }}</h2>
    </div>
    {% else %} {% set reversed_data = data|reverse|list %} {% for row in
    reversed_data[:6] %}
    <div class="col">
      <div class="card h-100 fade-up-in">
        <h5 class="card-header transparent-card-header">{{ row.project }}</h5>
        <div class="card-body">
          <h5 class="card-title">{{ row.devtag }}</h5>
          <p class="card-text">
            <strong>Diary Entry:</strong> {{ row.diary_entry }}
          </p>
          <p class="card-text">
            <strong>Time Worked (Hours):</strong> {{ row.time_worked }}
          </p>
          <p class="card-text">
            <strong>Repository:</strong>
            <a href="{{ row.repo }}" target="_blank">{{ row.repo }}</a>
          </p>
          <p class="card-text">{{ row.developer_notes }}</p>
          <a href="/diary_logs/{{ row.id }}" class="btn btn-primary mt-auto"
            >Go to entry</a
          >
        </div>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>
