* {
}
body {
}
.container {
}

.row {
}

.card {
  height: 300px;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex: 1;
  overflow: hidden;
}

.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

pre[class*="language-"] {
  background: #2d2d2d;
  color: #f8f8f2;
  padding: 1em;
  border-radius: 5px;
  overflow: auto;
}
